<?xml version='1.0' encoding='utf-8'?>
<plugin id="segment-cordova-plugin"
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	version="4.1.1" >

    <name>SegmentCordovaPlugin</name>
    <license>MIT License</license>
    <description>Cordova plugin for the Segment SDK</description>
    <author>James Yoon</author>

    <access origin="api.segment.io" />

    <js-module name="SegmentCordovaPlugin" src="www/SegmentCordovaPlugin.js">
        <clobbers target="Segment" />
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="SegmentCordovaPlugin">
                <param name="android-package" value="com.segment.cordova.plugin.SegmentCordovaPlugin" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" >
        	<uses-permission android:name="android.permission.INTERNET" />
        </config-file>
        <source-file src="src/android/SegmentCordovaPlugin.java" target-dir="src/com/segment/cordova/plugin" />

        <!-- In case of using device-mode for braze uncomment the below line -->    
        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />

        <framework src="com.segment.analytics.android:analytics:4.+"/>
        <framework src="com.segment.analytics.android.integrations:firebase:+@aar"/>

        <!-- In case of using device-mode uncomment the below lines -->
        <framework src="com.appboy:appboy-segment-integration:+"/> 

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service android:name="com.appboy.AppboyFirebaseMessagingService">
                <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                </intent-filter>
            </service>
        </config-file>
        <resource-file src="src/android/appboy.xml" target="res/values/appboy.xml" />
    </platform>

    <platform name="ios">
            <config-file parent="/*" target="config.xml">
                <feature name="SegmentCordovaPlugin">
                    <param name="ios-package" value="SegmentCordovaPlugin" />
                    <param name="onload" value="true" />
                </feature>
            </config-file>

            <header-file src="src/ios/SegmentCordovaPlugin.h" target-dir="SegmentCordovaPlugin"/>
            <source-file src="src/ios/SegmentCordovaPlugin.m" target-dir="SegmentCordovaPlugin"/>

            <!-- Added these files to register push notification for braze integration -->
            <header-file src="src/ios/AppDelegate+Appboy.h" />
            <source-file src="src/ios/AppDelegate+Appboy.m" />

             <podspec>
                <config>
                    <source url="https://cdn.cocoapods.org/"/>
                </config>
                <pods>
                    <pod name="Analytics" spec="~> 4.1.4"/>
                    <pod name="Segment-Appboy" spec="~> 4.1.0"/>
                    <pod name="Segment-Firebase" spec="~> 2.7.2"/>

                    <!-- Added Firebase dependencies for Segment-Firebase SDK integration -->
                    <pod name="Firebase/Core" spec="~> 7.7"/>
                    <pod name="FirebaseAnalytics" spec="~> 7.7"/>
                </pods>
            </podspec>
        </platform>
        
        <hook type="after_prepare" src="scripts/after_prepare.js" />
</plugin>